body{
    margin: 0;
    padding: 0;
}

.pb-full {
    padding-bottom: 100%;
}

.search-bar:focus + .fa-search{
    display: none;
}

@media screen and (min-width: 768px) {
    .post:hover .overlay {
        display: block;
    }
}

.pleaseSearch {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editProfile {
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem !important;
    padding: 0 2.4rem !important;
    line-height: 1.8;
}

.pleaseSearchText {
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
}

@media (max-width: 768px) {
    .pleaseSearchText {
        font-size: 2rem;
    }
}